<footer class="footer is-centered">
  <div class="box has-text-centered">
    <div class="pagination white-bg">
      <a href="/" class="first">
          Newest
      </a>
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
          &lt;&lt; Previous
        </a>
      {% else %}
        <span class="previous"> &lt;&lt; Previous</span>
      {% endif %}
      <span class="page_number ">
        Page {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next &gt;&gt;</a>
      {% else %}
        <span class="next ">Next &gt;&gt;</span>
      {% endif %}
      <a href="/page{{ paginator.total_pages }}" class="Last">
          Oldest
      </a>
    </div>
  </div>
</footer>
