.secondary-nav {
  background-color: rgba($secondary-color, .9);
  min-width:300px;
  color: $text-color;
  position: sticky;
  top: 0px;
  height: 100vh;

  * {
    margin: 1em 0 0;
  }
}

.thankyou {
  text-align: center;
}

.tagcloud {
  color: $text-color;
  margin: auto 1em;
  font-family: $heading-font;

  a, a:visited, a:active {
    color: $text-color;
    padding: 5px;
  }
}
