<aside class="burger-menu menu is-hidden-desktop has-text-centered">
    <figure class="image is-128x128">
      <a href="{{ site.url }}"><img src="/img/bucket.png" class="logo"></a>
    </figure>
    <div class="welcome">
      <h4>
        Thank you for choosing<br>
        Gaming Thrones<br>
        for your video game shitter needs.<br>
        You're a beautiful human being.<br>
      </h4>
        {% include searchbar.html %}
    </div>
    <p class="menu-label">
      Featured
    </p>
      <ul class="menu-list">
        <li><a href="/search.html?query=this+is+art">Fan Art!!</a></li>
      </ul>
    <p class="menu-label">
      Archive
    </p>
      <ul class="menu-list">
        <li><a href="{{ site.url }}">Coming Soon</a></li>
      </ul>
    <p class="menu-label">
      Why Toilets?
    </p>
      <ul class="menu-list">
        <li><a href="/charities">WTO</a></li>
      </ul>
</aside>
