<!-- <div class="pagination">
  {% if paginator.previous_page_path %}
    <a href="{{ paginator.previous_page_path }}">Previous</a>
  {% endif %}
  {{ paginator.page }} of {{ paginator.total_pages }}
  {% if paginator.previous_page_path %}
    <a href="{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</div> -->
<!-- Pagination links -->
<div class="pagination">
  <a href="/" class="first">
      Newest
  </a>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      &lt;&lt; Previous
    </a>
  {% else %}
    <span class="previous"> &lt;&lt; Previous</span>
  {% endif %}
  <span class="page_number ">
    Page {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next &gt;&gt;</a>
  {% else %}
    <span class="next ">Next &gt;&gt;</span>
  {% endif %}
  <a href="/page{{ paginator.total_pages }}" class="Last">
      Oldest
  </a>
</div>
