<div class="primary-nav flex-1 col">
  <a href="{{ site.url }}"><img src="/img/bucket.png" class="logo"></a>
  <ul class="nav-list col flex-1">
    <li class="nav-item col">
      <a href="/tags/this-is-art/">
        <h3 class="nav-title">Featured</h3>
        <div class="nav-desc">Fan Art and Cosplay</div>
      </a>
    </li>
    <li class="nav-item col">
      <a href="{{ site.url }}">
        <h3 class="nav-title">Archive</h3>
        <div class="nav-desc">Coming Soon</div>
      </a>
    </li>
    <li class="nav-item col">
      <a href="{{ site.url }}">
        <h3 class="nav-title">Submit</h3>
        <div class="nav-desc">Coming Soon</div>
      </a>
    </li>
    <li class="nav-item col">
      <a href="/charities">
        <h3 class="nav-title">WTO</h3>
        <div class="nav-desc">Why Toilets?</div>
      </a>
    </li>
  </ul>
</div>
