<nav class="navbar is-hidden-touch" role="navigation" aria-label="main navigation">
  <div id="navbarlinks" class="navbar-menu">

    <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/img/bucket.png" width="28" height="28">
        </a>
    </div>

    <div class="navbar-start">
      <a class="navbar-item" href="/search.html?query=prison">
        Featured - Prison Shitters!
      </a>

      <a class="navbar-item" href="/">
        Archive - Coming Soon
      </a>

      <a class="navbar-item" href="/charities">
        Why Toilets? - WTO
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {% include searchbar.html %}
      </div>
    </div>
  </div>
</nav>
