<div class="primary-nav flex-1 col">
  <a href="/"><img src="/img/bucket.png" class="logo"></a/>
  <ul class="nav-list col flex-1">
    <li class="nav-item col">
      <a href="/about">
        <h3 class="nav-title">About</h3>
        <div class="nav-desc">Games, Toilets, Art</div>
      </a>
    </li>
    <li class="nav-item col">
      <a href="/search?query=">
        <h3 class="nav-title">Archive</h3>
        <div class="nav-desc">Past is Prologue</div>
      </a>
    </li>
    <li class="nav-item col">
      <a href="/submit">
        <h3 class="nav-title">Submit</h3>
        <div class="nav-desc">Find em', Share em'</div>
      </a>
    </li>
    <li class="nav-item col">
      <a href="/charities">
        <h3 class="nav-title">Charities</h3>
        <div class="nav-desc">You Are Beautiful</div>
      </a>
    </li>
  </ul>
</div>
