{% if include.img_rollover %}
  <a href="{{ include.item.img }}" target="_blank">
    <img id="{{ include.item.img | slugify }}"
         src="{{ include.item.img }}"
         class="column-b-img"
         onmouseover="rollover(this, '{{ include.item.img_rollover }}')"
         onmouseout="rollover(this, '{{ include.item.img }}')">
  </a>
{% else %}
  <a href="{{ include.item.img }}" target="_blank">
    <img id="{{ include.item.img | slugify }}"
         src="{{ include.item.img }}"
         class="column-b-img">
  </a>
{% endif %}

<style>
  {{ include.item.img | slugify }} {
    display: none;
    content:url('{{ include.item.img_rollover }}');
  }
</style>
