.feat-nav-container {
    background-color: rgba(236,226,214,0.9);
    margin-left: 2em;
    position: sticky;
    top: 0;
    padding: 0;
  
    .feat-nav {
      padding-top: 3em;
      justify-content: space-evenly;
      align-items: flex-start;
      text-align: left;
      height: 100vh;
      position: sticky;
      top: 0px;
    }
  
    .featured {
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.17em;
      color: #900C3F;
      font-family: "Architects Daughter";
      padding: .5em 1em;
      margin: 0;
    }

    .feat-post .img {
      padding: 1em;
    }

    .feat-post .title {
      font-weight: normal;
      font-size: 18pt;
      color: #1a0d00;
      font-family: "Architects Daughter";
      padding: .5em 1em;
      margin: 0;
    }
    
  }