body {
  background: url("/img/woodgrain_background.jpg");
}

.column-is-3 {
  padding: 1em;
}

.column-is-4 {
  padding: 1em;
  background-color: rgba(255,255,255,0.9);
}

.searchbar {
  padding: 1em;
  input {
    border-radius: 10px;
    padding: .2em .5em;
    }
}
.post {
  max-width: inherit;
  padding: 1em;
  background-color: rgba(255,255,255,0.9);
}

.media {
  display: flex;
}

.post-date {
  color: #900C3F;
  text-transform: uppercase;
  font-weight: bold;
  color: #900C3F;
  font-family: "Architects Daughter";
}

.card-content {
  vertical-align: middle;
}

.post-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
