body {
  background: woodgrain_background;
}

.sec-nav-responsive {
  padding: 1.5em;
  background-color: #ecd9c6, .9;
  color: $white;
  text-align: center;
  position: sticky;
  height: 100vh;

}


.tagcloud {
  color: $text-color;
  margin: auto 1em;
  font-family: $heading-font;

  a, a:visited, a:active {
    color: $text-color;
    padding: 5px;
  }
}
