.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1d130d;
  text-align: center;

  .navbar-menu {
    .navbar-brand {
      margin-left: 4rem;
    }

    .navbar-start {
      margin-left: 2rem;
      .navbar-item {
        font-family: "Architects Daughter", Helvetica;
        color: rgb(220, 205, 188);
        text-shadow: black 1px 1px 1px;
        font-weight: 400;
        font-size: 1em;
        text-transform: none;
        margin: 0rem 1rem;
        a:hover {
          background-color: #1d130d;
          color: #dccdbc;
        }
      }
    }

    .navbar-end {
      margin-right: 4rem;
    }
  }
}
