.search-results-page {
    .search-results-block {
        max-width: inherit;
        padding: 1em;
        background-color: rgba(255,255,255,0.9);
        margin: 1.5em;
        .search-results-page-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: "Architects Daughter";
            font-size: 18pt;
            color: #1a0d00;
            padding: 1em;
        }
    }
}

