.secondary-nav-container {
  background-color: rgba(236,226,214,0.9);
  margin-right: 3em;
  position: sticky;
  top: 0;
  padding: 0;


  .searchbar {
    padding: 1em;
    input {
      border-radius: 10px;
      padding: .2em .5em;
    }
  }

  .secondary-nav {
    padding-top: 3em;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
    height: 100vh;
    position: sticky;
    top: 0px;
  }

  .welcome {
    font-family: "Architects Daughter", Helvetica;
    font-weight: 500;
    margin: 1em;
  }

  .tagcloud {
    color: #1d130d;
    margin: auto 1em;
    font-family: "Architects Daughter", Helvetica;

    a, a:visited, a:active {
      color: #800000;
      padding: 5px;
    }
  }
}
