@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   12pt !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$heading-font:     'Architects Daughter', cursive;
$spacing-unit:     30px !default;

// #FAF5D0
// #faf5b3

$menu-label-color: #f9f2ec;
$menu-item-color:  #f9f2ec;
$link:             #900C3F !default;
$text-color:       #111 !default;
$dark-bg-text-color: #dccdbc !default;
$brand-color:      #1d130d !default;
$secondary-color:  lighten(adjust-hue($brand-color, 10%), 80%) !default;
$accent-color:     $dark-bg-text-color !default;
$background-color: #fdfdfd !default;
$background-image: url('/img/woodgrain_background.jpg');

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "bulma/bulma",
  "theme-responsive/layout",
  "theme-responsive/menu",
  "theme-responsive/primary-nav",
  "theme-responsive/secondary-nav",
  "theme-responsive/feat-nav",
  "theme-responsive/hamburger",
  "theme-responsive/post",
  "theme-responsive/search";
