<div class="post-date"><a href="{{ include.item.url }}">Posted on {{ include.item.date | date: "%B %e, %Y" }}</a></div>
<div class="post-content">
  <img src="{{ include.item.img1 }}" class="column-b-img" onmouseover="rollover(this, '{{ include.item.img1_rollover }}')" onmouseout="rollover(this, '{{ include.item.img1 }}')">
  <img src="{{ include.item.img2 }}" class="column-b-img" onmouseover="rollover(this, '{{ include.item.img2_rollover }}')" onmouseout="rollover(this, '{{ include.item.img2 }}')">
  <img src="{{ include.item.img3 }}" class="column-b-img" onmouseover="rollover(this, '{{ include.item.img3_rollover }}')" onmouseout="rollover(this, '{{ include.item.img3 }}')">
  <img src="{{ include.item.img4 }}" class="column-b-img" onmouseover="rollover(this, '{{ include.item.img4_rollover }}')" onmouseout="rollover(this, '{{ include.item.img4 }}')">
  {{ include.item.content }}
</div>
